In [1]:
import pandas as pd

df = pd.read_csv("Potholes_Patched.csv")

In [2]:
df.head()

,ADDRESS,REQUEST_DATE,COMPLETION_DATE,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,LATITUDE,LONGITUDE,LOCATION
0,2020 N RACINE AVE,09/18/2018 07:10:56 AM,12/12/2018 01:06:43 PM,8,NaN,NaN,NaN
1,4900 W 64TH ST,10/10/2018 01:37:18 PM,12/03/2018 12:45:10 PM,8,NaN,NaN,NaN
2,5345 N MULLIGAN AVE,08/16/2018 01:18:37 PM,09/20/2018 01:51:09 PM,52,NaN,NaN,NaN
3,1431 W DEVON AVE,06/24/2018 11:31:08 AM,08/02/2018 02:41:16 PM,1,NaN,NaN,NaN
4,5429 N MOODY AVE,09/01/2018 12:22:16 AM,09/28/2018 02:34:21 PM,8,NaN,NaN,NaN

In [3]:
df['REQUEST_DATE'] = pd.to_datetime(df['REQUEST_DATE'])

In [4]:
df['COMPLETION_DATE'] = pd.to_datetime(df['COMPLETION_DATE'])

In [6]:
df.sort_values(['REQUEST_DATE','COMPLETION_DATE'], ascending=[0,0])

,ADDRESS,REQUEST_DATE,COMPLETION_DATE,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,LATITUDE,LONGITUDE,LOCATION
44507,3848 W LAWRENCE AVE,2019-12-19 14:48:08,2019-12-19 14:49:36,2,41.968599,-87.725155,POINT (-87.725154649872 41.96859889137)
44497,812 E 48TH ST,2019-12-19 14:24:02,2019-12-19 14:25:44,10,41.807950,-87.605901,POINT (-87.605900877439 41.807949552762)
44326,11200 S WESTERN AVE,2019-12-19 13:54:19,2019-12-19 13:56:17,2,41.689735,-87.681131,POINT (-87.681131032779 41.689734963493)
44485,1306 E 56TH ST,2019-12-19 11:29:41,2019-12-19 11:31:56,5,41.793329,-87.594509,POINT (-87.594509404213 41.793328746388)
44514,1201 E 56TH ST,2019-12-19 11:27:22,2019-12-19 11:28:43,7,41.793150,-87.596194,POINT (-87.596193745079 41.793150059444)
...,...,...,...,...,...,...,...
31472,7946 S KEDZIE Avenue,2018-03-08 15:29:10,2019-02-07 11:41:59,22,41.748382,-87.702641,POINT (-87.702641480375 41.74838248709)
19013,2300 W NORTH AVE,2018-02-25 10:43:49,2018-07-02 08:44:33,20,NaN,NaN,NaN
13422,2413 N SB OUTER LAKE SHORE DR,2018-02-22 19:37:49,2018-08-16 07:27:14,1,NaN,NaN,NaN
31368,330 W GOETHE Street,2018-01-31 13:11:12,2018-12-26 12:40:18,2,41.905862,-87.637595,POINT (-87.637595490904 41.905862218497)
10243,5214 N LOVEJOY AVE,2018-01-19 20:58:00,2018-11-08 10:48:35,1,NaN,NaN,NaN

In [5]:
df.sort_values(['REQUEST_DATE','COMPLETION_DATE'], ascending=[1,1])

,ADDRESS,REQUEST_DATE,COMPLETION_DATE,NUMBER_OF_POTHOLES_FILLED_ON_BLOCK,LATITUDE,LONGITUDE,LOCATION
10243,5214 N LOVEJOY AVE,2018-01-19 20:58:00,2018-11-08 10:48:35,1,NaN,NaN,NaN
31368,330 W GOETHE Street,2018-01-31 13:11:12,2018-12-26 12:40:18,2,41.905862,-87.637595,POINT (-87.637595490904 41.905862218497)
13422,2413 N SB OUTER LAKE SHORE DR,2018-02-22 19:37:49,2018-08-16 07:27:14,1,NaN,NaN,NaN
19013,2300 W NORTH AVE,2018-02-25 10:43:49,2018-07-02 08:44:33,20,NaN,NaN,NaN
31472,7946 S KEDZIE Avenue,2018-03-08 15:29:10,2019-02-07 11:41:59,22,41.748382,-87.702641,POINT (-87.702641480375 41.74838248709)
...,...,...,...,...,...,...,...
44514,1201 E 56TH ST,2019-12-19 11:27:22,2019-12-19 11:28:43,7,41.793150,-87.596194,POINT (-87.596193745079 41.793150059444)
44485,1306 E 56TH ST,2019-12-19 11:29:41,2019-12-19 11:31:56,5,41.793329,-87.594509,POINT (-87.594509404213 41.793328746388)
44326,11200 S WESTERN AVE,2019-12-19 13:54:19,2019-12-19 13:56:17,2,41.689735,-87.681131,POINT (-87.681131032779 41.689734963493)
44497,812 E 48TH ST,2019-12-19 14:24:02,2019-12-19 14:25:44,10,41.807950,-87.605901,POINT (-87.605900877439 41.807949552762)
44507,3848 W LAWRENCE AVE,2019-12-19 14:48:08,2019-12-19 14:49:36,2,41.968599,-87.725155,POINT (-87.725154649872 41.96859889137)